header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  padding: {
    left: 2rem;
    right: 2rem;
  }
  height: 84px;
  width: 100%;

  nav {
    display: flex;
    margin: {
      left: 4rem;
    }
    gap: 3rem;

    .nav-link {
      text-transform: uppercase;
      text-decoration: none;

      &:visited {
        color: rgb(255, 225, 251);
      }
    }
  }
}

main {
  padding: 2rem;

  section {
    margin: {
      top: 84px;
    }
  }
}

.moon {
  position: relative;
  float: right;
  background-color: lavender;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 0 10px 3px #797887, 0 5px 10px 3px #797887;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 252px;

  label {
    font: {
      size: 0.875rem;
    }
  }

  input {
    height: 2rem;
    font: {
      family: inherit;
      size: 1rem;
    }
    margin: {
      bottom: 1rem;
    }
  }

  button {
    height: 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.25rem;
    font: {
      family: inherit;
      size: 1rem;
    }
  }
}
